<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.human.StudyMapper">
    <resultMap id="Study" type="Study">
        <id column="study_id" jdbcType="INTEGER" property="studyId" />
        <result column="study_type_id" jdbcType="INTEGER" property="studyTypeId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="submitter_id" jdbcType="INTEGER" property="submitterId" />
        <result column="dac_id" jdbcType="INTEGER" property="dacId" />
        <result column="is_controlled_access" jdbcType="INTEGER" property="isControlledAccess" />
        <result column="accession" jdbcType="VARCHAR" property="accession" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="prj_id" jdbcType="INTEGER" property="prjId" />
        <result column="prj_accession" jdbcType="VARCHAR" property="prjAccession" />
        <result column="package_id" jdbcType="INTEGER" property="packageId" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="release_state" jdbcType="BOOLEAN" property="releaseState" />
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
        <result column="archived_time" jdbcType="TIMESTAMP" property="archivedTime" />
        <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
        <result column="is_release_immediately" jdbcType="BOOLEAN" property="isReleaseImmediately" />
        <result column="type_name" jdbcType="VARCHAR" property="typeName" />
        <result column="longitudinal" jdbcType="INTEGER" property="longitudinal" />
        <result column="sample_synchronization" jdbcType="INTEGER" property="sampleSynchronization" />
        <result column="is_most_registered" jdbcType="INTEGER" property="isMostRegistered" />
        <result column="is_commercial_cellline" jdbcType="INTEGER" property="isCommercial" />
        <result column="openaccess_data_type" jdbcType="INTEGER" property="openaccessDataType" />
        <result column="is_foreign" jdbcType="INTEGER" property="isForeign" />
        <association property="user" javaType="User">
            <id column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="uFirstName" property="firstName" jdbcType="VARCHAR"/>
            <result column="uMiddleName" property="middleName" jdbcType="VARCHAR"/>
            <result column="uLastName" property="lastName" jdbcType="VARCHAR"/>
            <result column="uEmail" property="email" jdbcType="VARCHAR"/>
            <result column="uOrganization" property="organization" jdbcType="VARCHAR"/>
            <result column="uDepartment" property="department" jdbcType="VARCHAR"/>
            <result column="uPhone" property="phone" jdbcType="VARCHAR"/>
            <result column="uFax" property="fax" jdbcType="VARCHAR"/>
            <result column="uStreet" property="street" jdbcType="VARCHAR"/>
            <result column="uCity" property="city" jdbcType="VARCHAR"/>
            <result column="uState" property="state" jdbcType="VARCHAR"/>
            <result column="uPostalCode" property="postalCode" jdbcType="INTEGER"/>
            <result column="uCasId" property="casUserId" jdbcType="VARCHAR"/>
            <association property="country" javaType="Country">
                <id column="uCountryId" property="countryId" jdbcType="INTEGER"/>
                <result column="country_name" property="countryName" jdbcType="VARCHAR"/>
            </association>
        </association>
        <association property="submitter" javaType="Submitter">
            <id column="submitter_id" property="submitterId" jdbcType="INTEGER"/>
            <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
            <result column="middle_name" property="middleName" jdbcType="VARCHAR"/>
            <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
            <result column="email" property="email" jdbcType="VARCHAR"/>
            <result column="email_secondary" property="emailSecondary" jdbcType="VARCHAR"/>
            <result column="organization" property="organization" jdbcType="VARCHAR"/>
            <result column="submit_organization_url" property="submitOrganizationUrl" jdbcType="VARCHAR"/>
            <result column="department" property="department" jdbcType="VARCHAR"/>
            <result column="phone" property="phone" jdbcType="VARCHAR"/>
            <result column="fax" property="fax" jdbcType="VARCHAR"/>
            <result column="street" property="street" jdbcType="VARCHAR"/>
            <result column="city" property="city" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="VARCHAR"/>
            <result column="postal_code" property="postalCode" jdbcType="INTEGER"/>
            <association property="country" javaType="Country">
                <id column="country_id" property="countryId" jdbcType="INTEGER"/>
                <result column="country_name" property="countryName" jdbcType="VARCHAR"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="DataListHuman" type="cn.ac.big.bigd.webservice.model.gsa.DataList">
        <result column="accession" property="id" jdbcType="VARCHAR"/>
        <result column="publishDate" property="publishDate" jdbcType="VARCHAR"/>
        <result column="downloadUrl" property="downloadUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="FairDetailHuman" type="cn.ac.big.bigd.webservice.model.gsa.FairDetail">
        <result column="accession" property="accession" jdbcType="VARCHAR"/>
        <result column="datePublished" property="datePublished" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="dateModified" property="dateModified" jdbcType="TIMESTAMP"/>
        <result column="creativeWorkStatus" property="creativeWorkStatus" jdbcType="VARCHAR"/>
        <result column="prjId" property="prjId" jdbcType="VARCHAR"/>
        <result column="prjAccession" property="prjAccession" jdbcType="VARCHAR"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="org" property="org" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="accessRestrictions" property="accessRestrictions" jdbcType="VARCHAR"/>
        <result column="fileNumber" property="fileNumber" jdbcType="VARCHAR"/>
        <result column="fileSize" property="fileSize" jdbcType="VARCHAR"/>
        <result column="encodingFormat" property="encodingFormat" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUnSynchronizationStudys" parameterType="Integer" resultMap="Study">
        select st.*,u.user_id,u.first_name as uFirstName,u.middle_name as uMiddleName,u.last_name as uLastName,u.email as uEmail,u.organization as uOrganization,u.cas_user_id as uCasId
        ,u.department as uDepartment,u.phone as uPhone,u.fax as uFax,u.street as uStreet,u.city as uCity,u.state as uState,u.postal_code as uPostalCode,u.country_id as uCountryId
        ,sub.* from user u,study st
        left join submitter sub on sub.submitter_id = st.submitter_id
        where  st.sample_synchronization=0 and st.status=3  and u.user_id=st.user_id
    </select>
    <select id="getUnSynchronizationStudysList" parameterType="java.util.List" resultMap="Study">
        select st.*,u.user_id,u.first_name as uFirstName,u.middle_name as uMiddleName,u.last_name as uLastName,u.email as uEmail,u.organization as uOrganization,u.cas_user_id as uCasId
        ,u.department as uDepartment,u.phone as uPhone,u.fax as uFax,u.street as uStreet,u.city as uCity,u.state as uState,u.postal_code as uPostalCode,u.country_id as uCountryId
        ,sub.* from user u,study st
        left join submitter sub on sub.submitter_id = st.submitter_id
        where  st.sample_synchronization=0 and st.status=3  and u.user_id=st.user_id and st.study_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateSynchronizationByStudyId" parameterType="Integer">
		UPDATE study set sample_synchronization=1 WHERE study_id=#{studyId}
	</update>

    <select id="getHumanAccession" resultMap="DataListHuman" parameterType="list">
        select accession,release_time as publishDate,(case
        when release_state=2 then CONCAT("https://ngdc.cncb.ac.cn/gsa-human/browsse/",accession)
        when release_state=1 then "-"
        end) as downloadUrl
        from study
        where `status`=3 and prj_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by accession
    </select>
    <select id="getFairDetailHuman" resultMap="FairDetailHuman">
        select s.accession,s.archived_time as datePublished,s.release_time as dateAvailable,s.is_controlled_access as isControl,
        "Dataset" as type,s.title,"v1" as version,s.description,"-" as keyword,"-" as subject,s.modify_time as dateModified,(case when s.release_state=2 then 3 when s.release_state=1 then 2 end) as creativeWorkStatus
        ,s.prj_id as prjId,s.prj_accession as prjAccession,CONCAT(u.first_name,' ',u.middle_name,' ',u.last_name) as userName,u.email,u.organization as org,(case when s.release_state=2 then CONCAT("https://ngdc.cncb.ac.cn/gsa-human/browse/",s.accession) when s.release_state=1 then "-" end) as url,
        "open" as accessRestrictions,count(rdf.run_file_id) as fileNumber,sum(rdf.run_file_size) as fileSize,rdt.run_data_type_name as encodingFormat
        from study s,user u,run_data_file rdf,run_data_type rdt
        where  u.user_id=s.user_id and rdt.run_data_type_id=rdf.run_data_type_id and rdf.study_id=s.study_id and s.accession=#{accession} and s.status=3
    </select>
</mapper>